<%= turbo_frame_tag comment do %>
    <%= form_with model: [blog_post, comment] do |form| %>
        <div>
            <%= form.hidden_field :comment_id, value: parent&.id %>
        </div>
        <div>
            <%= form.label :body, style: "display: block" %>
            <%= form.rich_text_area :body %>
        </div>
        <div>
            <%= form.submit %>
        </div>
    <% end %>
    <%= link_to "Cancel", blog_posts_path %>
<% end %>