<%= turbo_frame_tag blog_post do %>
    <h1><%= blog_post.title %></h1>
    <p>Written by <%= blog_post.user.username %></p>
    <%= blog_post.body %>
    <%= button_to "Delete Post", blog_post, method: :delete if Current.user == blog_post.user %>
    <hr>

    <h1>Comments</h1>
    <%= render "comments/comment_collection", blog_post: blog_post, parent: nil %>
    <%= render "comments/form", blog_post: blog_post, parent: nil %>
    <hr>
<% end %>