<div id="<%= dom_id(blog_post, :content) %>">
    <h1>
        <% if request.path != "/blog_posts" && request.path != "/"  %>
            <%= blog_post.title %>
        <% else %>
            <%= link_to blog_post.title, blog_post %>
        <% end %>
    </h1>
    <p>Written by <%= link_to blog_post.user.username, user_path(blog_post.user) %> - <%= blog_post.created_at.to_date %></p>
    <% if blog_post.body.empty? %>
        <p>No Content</p>
    <% else %>
        <%= blog_post.body %>
    <% end %>
    <%= button_to "Delete Post", blog_post, method: :delete if Current.user == blog_post.user %>
</div>