<%= turbo_frame_tag blog_post do %>
    <%= form_with model: blog_post do |form| %>
        <div>
            <%= form.label :title %>
            <%= form.text_field :title, required: true %>
        </div>

        <div>
            <%= form.label :body, style: "display: block" %>
            <%= form.rich_text_area :body %>
        </div>

        <div>
            <%= form.submit %>
        </div>
    <% end %>
    <%= link_to "Cancel", blog_posts_path %>
<% end %>